.sidebar {
    height: 100%;
   width: 165px;
    background-color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.topnav ul {
    list-style: none;
}

.topnav a {
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.myBorder {
    border-bottom: 1px solid gray;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.linkText {
    color: black;
}

.linkText1 {
    color: red;
}


